html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	/* Prevents scrollbars on the main page */
}

.game-container {
	width: 100vw;
	/* 100% of the viewport width */
	height: 100vh;
	/* 100% of the viewport height */
	border: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	/* Removes the default iframe border */
}
